[defaults]
remote_user         = ubuntu
private_key_file    = <path to key file>
roles_path =  ../../roles/
hash_behaviour=merge

retry_files_enabled = False # Do not create RETRY files
retry_files_save_path = "/tmp" # The directory they will go into (home directory by default)

system_errors = False
host_key_checking = False
ask_sudo_pass = False  

[ssh_connection]
ssh_args = -F ./ssh.cfg -o ControlMaster=auto -o ControlPersist=30m
control_path = ~/.ssh/ansible-%%r@%%h:%%p
